.projcontainer{
    margin: 0;
    font: bold 14px/1.4 'Open Sans', arial, sans-serif;
    display: flex;
    -webkit-box-align: center;
    /*align-items: center;*/
    min-height: 550px;
<<<<<<< HEAD
    height: calc(210vh - 60px);
=======
    height: calc(170vh - 60px);
>>>>>>> f50820a0fcbfadba3e3695fd2d2c06eb4cbc3845
    position: relative;
    
    
}

.fullbgleft{
    background-image: linear-gradient(45deg, #6303B1, #ff0099);
    background: var(--bg-col);
    
    transform: skewY(11deg);
    width: 100%;
<<<<<<< HEAD
    height: 135vmin;
=======
    height: 95vmin;
>>>>>>> f50820a0fcbfadba3e3695fd2d2c06eb4cbc3845
    margin-right: 0;
    position: absolute;
    color: transparent;
    box-shadow: 0px 1px 10px black;
    
    z-index: 1;
}


.floorbgleft{
    background-image: linear-gradient(45deg, #6303B1, #ff0099);
    background: var(--bg-col);
<<<<<<< HEAD
    top: 135vmin;
=======
    top: 95vmin;
>>>>>>> f50820a0fcbfadba3e3695fd2d2c06eb4cbc3845
    width: 100%;
    height: 23vmin;
    margin-right: 0;
    position: absolute;
    color: transparent;
    transform: skewY(11deg);
    box-shadow: 0px 50px 50px #0A8EE8;
    
    z-index: 0;
}

.projcontent{
    position: absolute;
    
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-rows: (10vmin, auto);
    align-items: center;
    justify-content: center;
}

.projimg{
    width: 10%;
    height: 10%;
    border-radius: 24px;
}

<<<<<<< HEAD

.AWSCloudCaptain{
=======
.homeserver{
>>>>>>> f50820a0fcbfadba3e3695fd2d2c06eb4cbc3845
    grid-column: 1/2;
    grid-row: 1;
    color: var(--text-col);
    text-align: center;
    font-size: 2vmin;
    border: var(--text-col) solid;
<<<<<<< HEAD
    border-radius: 25px;  
}

.Malware{
    grid-column: 1/2;
    grid-row: 2;
    color: var(--text-col);
    text-align: center;
    font-size: 2vmin;
    border: var(--text-col) solid;
    border-radius: 25px;
}


.homeserver{
    grid-column: 1/2;
    grid-row: 4;
    color: var(--text-col);
    text-align: center;
    font-size: 2vmin;
    border: var(--text-col) solid;
    border-radius: 25px;   
}

.smart{
    grid-column: 2/2;
    grid-row: 3;
    color: var(--text-col);
    text-align: center;
    font-size: 2vmin;
    border: var(--text-col) solid;
    border-radius: 25px;   

}
=======
    border-radius: 25px;   
}

>>>>>>> f50820a0fcbfadba3e3695fd2d2c06eb4cbc3845
.seedingproj{
    grid-column: 2/2;
    grid-row: 1;
    color: var(--text-col);
    text-align: center;
    font-size: 2vmin;
    border: var(--text-col) solid;
    border-radius: 25px;   
}

<<<<<<< HEAD
=======
.smart{
    grid-column: 1/2;
    grid-row: 2;
    color: var(--text-col);
    text-align: center;
    font-size: 2vmin;
    border: var(--text-col) solid;
    border-radius: 25px;   

}
>>>>>>> f50820a0fcbfadba3e3695fd2d2c06eb4cbc3845

.workexperience{
    grid-column: 2/2;
    grid-row: 2;
    color: var(--text-col);
    text-align: center;
    font-size: 2vmin;
    border: var(--text-col) solid;
    border-radius: 25px; 
}
.webdev{
    grid-column: 1/2;
    grid-row: 3;
    color: var(--text-col);
    text-align: center;
    font-size: 2vmin;
    border: var(--text-col) solid;
    border-radius: 25px; 

}
.unilog{
    grid-column: 2/2;
<<<<<<< HEAD
    grid-row: 4;
=======
    grid-row: 3;
>>>>>>> f50820a0fcbfadba3e3695fd2d2c06eb4cbc3845
    color: var(--text-col);
    text-align: center;
    font-size: 2vmin;
    border: var(--text-col) solid;
    border-radius: 25px; 
    
}


.traf{
    background-image: linear-gradient(45deg, #6303B1, #ff0099);
    top: 180vmin;
    width: 100%;
    height: 23vmin;
    margin-right: 0;
    position: absolute;
    color: transparent;
    transform: skewY(-11deg);
    z-index: 1;
}