


.aboutcontainer{
    margin: 0;
    font: bold 14px/1.4 'Open Sans', arial, sans-serif;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    
    min-height: 550px;
    height: calc(150vh - 60px);
    
    position: relative;
    background-color: var(--bg-col);
    
    color: var(--text-col);
}

.certcontainer{
    margin-top: 80vmin;
    
    background-color: red;
}
.certifications{
    background-color: green;
    
}


.fullbgleftinit{
    
    width: 70vmin;
    margin-right: 0;
    position: absolute;
    top: 10%;
    top: 32vmin;

    box-shadow: 0px 1px 10px black;
    z-index: 2;
    
}


.abouttitle{
    color: var(--text-col);
    font-weight: 800;
    font-family: Sequel, sans-serif;
    line-height: 0.9;
    font-size: 3em;    
    position: relative;
    

    
    width: 100%;
    text-align: center;
}

.aboutcontent{


    position: relative;

    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-rows: (10vmin, auto);
    align-items: center;
    justify-content: center;



}


.abouttext{
    grid-column: 1/2;
    grid-row: 1;
    color: var(--text-col);
    text-align: left;   
    margin-left: 10%;
    background-color: var(--bg-col);
    width: 100%;
    border-radius: 25px;
    margin-right: 50%;
}

.aboutint{
    font-size: 3vmin;
    margin-left: 1vmin;
    border-bottom: 5px solid;
    margin-right: 1vmin;
}

.aboutpara{
    font-size: 2vmin;
    padding: 1vmin;
    margin-left: 2vmin;
    margin-right: 2vmin;
}



.tra1{
    background-image: linear-gradient(45deg, #6303B1, #ff0099);
    width: 100%;
    top: 0;
    height: 33vmin;
    margin-right: 0;
    position: absolute;
    color: transparent;
    transform: skewY(11deg);
    
    z-index: 1;
}