.navbar{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    padding: 1.25rem;
    color: transparent;

  }
  
  .navlist { 
    margin: 10px auto 0; 
    padding: 0; 
    list-style: none; 
    display: table;
    width: 600px;
    text-align: center;
  }
  .navbox { 
    display: table-cell; 
    position: relative; 
    padding: 15px 0;
  }
  .underline {
    color: var(--text-col);
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
  }
  .underline:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: var(--text-col);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .underline:hover:after { 
    width: 100%; 
    left: 0; 
  }
  @media screen and (max-height: 300px) {
      ul {
          margin-top: 40px;
      }
  }