.skillscontainer{
    margin: 0;
    font: bold 14px/1.4 'Open Sans', arial, sans-serif;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    
    min-height: 550px;
    height: calc(190vh - 60px); /*og 150vh - 60px */
    
    position: relative;
    color: var(--text-col);
}

.skcontainer{
    width: 100%;
    position: relative;
    top: 0;
}





.portcontainer{
    margin: 0;
    font: bold 14px/1.4 'Open Sans', arial, sans-serif;
    display: flex;
    -webkit-box-align: center;
    min-height: 550px;
    /*OG 170vh*/
    height: calc(190vh - 60px);
    position: relative;
    
}

.fullbgright{
    background-image: linear-gradient(45deg, #6303B1, #ff0099);
    background: var(--bg-col);
    transform: skewY(-11deg);
    width: 100%;
    /*OG 85vmin*/
    height: 105vmin;
    margin-right: 0;
    position: absolute;
    color: transparent;

    box-shadow: 0px 1px 10px black;
    z-index: 1;
}
.floorbgright{
    background-image: linear-gradient(45deg, #6303B1, #ff0099);
    background: var(--bg-col);
    /*OG 85vmin*/
    top: 105vmin;
    width: 100%;
    height: 23vmin;
    margin-right: 0;
    position: absolute;
    color: transparent;
    transform: skewY(-11deg);

    box-shadow: 0px 50px 50px #ff0099;
    

    z-index: 0;

    

}



.maintitle{
    color: var(--text-col);
    font-weight: 800;
    font-family: Sequel, sans-serif;
    text-transform: uppercase;
    line-height: 0.9;
    font-size: 3.3vmin;    
    position: relative;
    
    width: 100%;
    text-align: center;
    
}

.portcontent{
    
    position: relative;
    width: 92%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .9vmin;
    grid-auto-rows: (10vmin, auto);
    align-items: center;
    justify-content: center;
    
}

/* FOR SKILLS LIST */

.skillslist{
    grid-column: 1/2;
    grid-row: 1;
    color: var(--text-col);
    text-align: left;
    font-size: 2vmin;   
    margin-left: 10vmin;

    
}

















































/* Add appropriate styling based on your design preferences */
.skills-container {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line if the window is too narrow */
    justify-content: space-between;
    align-items: flex-start;
    color: var(--text-col);

    text-align: left;
    font-size: 2vmin;   
    margin-left: 10vmin;
  }
  
  .skills-left {
    width: 100%; /* Occupy full width on smaller screens */
    max-width: 400px; /* Limit the width on larger screens */
    padding: 20px;
  }
  
  .skills-left h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .skills-left .skill-category {
    margin-bottom: 20px;
  }
  
  .skills-left h3 {
    font-size: 2.5vmin;
  }
  
  .skills-left p {
    margin-top: 5px;
    font-size: 14px;
  }
  
  .skills-right {
    width: 100%; /* Occupy full width on smaller screens */
    max-width: 400px; /* Limit the width on larger screens */
    padding: 20px;
  }
  


  

  .skills-right .cert-category {
    margin-bottom: 20px;
  }
  
  .skills-right h3 {
    font-size: 2.5vmin;
    margin-bottom: 10px;
  }
  
  .skills-right img {
    width: 100%;
    max-width: 150px;
    height: auto;
  }
  
  .skills-right ul {
    list-style: disc;
    padding-left: 20px;
    font-size: 2vmin;
  }
  
  .certifications{
    padding: 3px;
    
  }

  
  /* Media query for larger screens */
  @media screen and (min-width: 768px) {
    .skills-container {
      flex-wrap: nowrap; /* Prevent items from wrapping on larger screens */
    }
  
    .skills-left {
      width: 50%;
      max-width: none; /* Remove the max-width on larger screens */
    }
  
    .skills-right {
      width: 50%;
      max-width: none; /* Remove the max-width on larger screens */
    }
  }
  











































/* FOR TRYHACKME ACTIVITY*/
.Virtualizationcontainer{
    grid-column: 2/2;
    grid-row: 1;
    color: var(--text-col);
    text-align: left;
    font-size: 2vmin;   
    margin-left: 10vmin;
    
}


.thmbadge{
    
    display: block;
    margin-left: 35vmin;
    width: 19vmin;
    
}

.thmimg{
    width: 100%;
    height: 100%;
}

/* FOR PROGRAMMING LANGUAGES */

.languageslist{
    grid-column: 1/2;
    grid-row: 2;
    color: var(--text-col);
    text-align: left;
    font-size: 2vmin;
    margin-left: 10vmin;
    
}
/* FOR GITHUB */

.hardwarecontainer{
    grid-column: 2/2;
    grid-row: 2;
    color: var(--text-col);
    text-align: left;
    font-size: 2vmin;
    margin-left: 10vmin;

}
.githubtitle{
    font-size: 1.7vmin;
    margin-top: 1vmin;
    text-align: center;
}
.gitbox{
    background-color: #EEEEEE;
    width: 100%;
    border-radius: 25px;
}





