.skillscontainer{
    margin: 0;
    font: bold 14px/1.4 'Open Sans', arial, sans-serif;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    
    min-height: 550px;
    height: calc(150vh - 60px);
    
    position: relative;
    color: var(--text-col);
    border: solid red;
}
.titlecontainer{
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    color: #ffcc70;
    

}
.skcontainer{
    width: 100%;
    position: relative;
    top: 0;
    border: solid red;
}
