:root{
  --bg-col: rgb(11,0,69);
  --text-col: white;
}

.whiteout{
  --bg-col: white;
  --text-col: black; 
}
.blackout{
  --bg--col: rgb(11,0,69);
  --text-col: white;
}

.App {
  text-align: center;
  margin: 0;
    font: bold 14px/1.4 'Open Sans', arial, sans-serif;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    
    min-height: 550px;
    height: calc(100vh - 60px);
    
    position: relative;
    background-color: var(--bg-col);
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
