.diagonalboxtop {
	background-image: linear-gradient(45deg, #6303B1, #ff0099);
    width: 100%;
    height: 50vmin;
    top: -50vmin;
    margin-right: 0;
    position: absolute;
    color: transparent;
    transform: skewY(-11deg);
}
.diagonalbox {
	background-image: linear-gradient(45deg, #6303B1, #ff0099);
    width: 100%;
    height: 31vmin;
    margin-right: 0;

    position: absolute;
    position: relative;
    color: transparent;
    transform: skewY(-11deg);
    z-index: 1;
}

.bglines{
    background-color: var(--bg--col);
    
}